#chosefile {
    width: 200px;
    border-radius: 5px;
    border: 1px solid #000;
    text-align: center;
    text-anchor: middle;
    cursor: pointer;
}

#filesrc {
    width: 400px;
    border-radius: 5px;
    border: 1px solid #000;
    overscroll-behavior-y: auto;
    resize: none;
}

#outputcommand {
    width: 95%;
    height: 5rem;
}
.usingtitle {
    text-shadow: 1px 1px 1px rgba(79, 195, 100, 0.718);
    display: inline-block;
    line-height: 1rem;
    margin: 0;
}

.wid400 {
    width: 400px;
}

.wid100 {
    width: 100px;
}

.wid50 {
    width: 50px;
}

.noselect {
    user-select: none;
}

.clickable {
    cursor: pointer;
}

.heicenter {
    vertical-align: super;
}

.widcenter {
    text-align: center;
}

.tip {
    color: skyblue;
    cursor: pointer;
    font-size: x-small;
}

.warning {
    color: red;
    font-size: smaller;
    vertical-align: super;
}

.langselect {
    float: right;
    width: fit-content;
}

.scrolly {
    overflow-y: scroll;
    height: 140px;
    width: 200px;
    border: 1px solid black;
}

.wordfitcontent {
    width: fit-content;
}

body {
    font-family: 'Microsoft YaHei Ui', 'Microsoft YaHei', '微软雅黑', 'PingFang SC', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer {
    font-size: small;
    line-height: 1rem;
}

footer a:link,
footer a:visited {
    color: black;
    text-decoration: none;
}

footer a:hover,
footer a:active {
    color: blue;
    text-decoration: underline;
}